<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="/css/style.css" />
    {{> favicon}}
    <title>Forgot Password?</title>
</head>

<body class="h-screen flex justify-center items-center bg-mybg">
    <div class="bg-mybgs1 p-6 w-11/12 md:w-7/12 lg:w-4/12 rounded-md md:left-auto">
        <div class="flex justify-between py-4 items-center">
            <div>
            <p class="form-header-text text-myaccent text-3xl font-semibold tracking-wider">Can't Log In?</p>
            <p class="text-myaccent text-md tracking-wider mt-2">No problem, we've got you covered.</p>
            <p class="text-myaccent text-md mt-5">Enter your email address below and we'll send you instructions on how to reset your password.</p>
            </div>
            <button class="hidden" id="btn-back">
                <span class="material-symbols-outlined text-myaccent">
                    arrow_back_ios
                </span>
            </button>
        </div>
        <form action="/user/forgot" method="post" id="myForm" class="flex font-poppins text-white">
            <div class="absolute left-5 -top-32 right-5 md:right-auto bg-red-400 p-3 transition-all flex rounded-md"
                id="alert"></div>
            <div class="flex flex-col w-full" id="form-section-1">
                <label class="text-myaccent mt-2" for="email">Email</label>
                <input class="my-2 p-3 rounded-sm bg-mybg" type="email" name="email" id="email" placeholder="abc@gmail.com" required />
                
                <button id="submitBtn"
                    class="transition-all duration-100 ease hover:opacity-80 active:scale-95 py-3 px-4 bg-myaccent mt-4 rounded-sm uppercase text-black"
                    >send</button>
            </div>
        </form>
    </div>
    {{> developer}}
    <script type="text/javascript" src="/js/forgot.js">
    </script>
    {{#if emailNotFound}}
    <script>
        window.addEventListener('load', () => {
            showAlertMsg('{{emailNotFound}}');
        })
    </script>
    {{/if}}
    {{#if internalServerErr}}
    <script>
        window.addEventListener('load', () => {
            showAlertMsg('{{internalServerErr}}');
        })
    </script>
    {{/if}}
    {{#if internetErr}}
    <script>
        window.addEventListener('load', () => {
            showAlertMsg('{{internetErr}}');
        })
    </script>
    {{/if}}
</body>

</html>