<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="/css/style.css" />
    {{> favicon}}
    <title>Reset Password</title>
</head>

<body class="h-screen flex justify-center items-center bg-mybg">
    <div class="bg-mybgs1 p-6 w-11/12 md:w-7/12 lg:w-4/12 rounded-md md:left-auto">
        <div class="flex justify-between py-4 items-center">
            <div>
            <p class="form-header-text text-myaccent text-3xl font-semibold tracking-wider">Setup New Password</p>
            <p class="text-myaccent text-md mt-5">Enter and confirm your new password, Password must contain 8 characters</p>
            </div>
            <button class="hidden" id="btn-back">
                <span class="material-symbols-outlined text-myaccent">
                    arrow_back_ios
                </span>
            </button>
        </div>
        <form action="/user/pass" method="post" id="myForm" class="flex font-poppins text-white">
            <div class="absolute left-5 -top-32 right-5 md:right-auto bg-red-400 p-3 transition-all flex rounded-md"
                id="alert"></div>
            <div class="flex flex-col w-full" id="form-section-1">
                <input type="hidden" name="token" value="{{token}}">
                <label class="text-myaccent mt-2" for="password">Password</label>
                <div class="relative flex">

                <input class="my-2 p-3 rounded-sm bg-mybg w-full" type="password" name="password" id="password"
                    placeholder="Strong Password" required />

                    <div class="absolute right-12 inset-y-0 flex items-center mr-3">
                        <input type="checkbox" class="hidden" name="passwordToggle" id="passwordToggle">
                        <label class="absolute cursor-pointer z-50 hover:opacity-50 bg-myaccent select-none text-xs font-mono px-2 py-1 rounded-sm text-mybg" for="passwordToggle" id="passwordLabel">show</label>
                    </div>    
                </div>

                <label class="text-myaccent mt-2" for="password">Confirm Password</label>
                <input class="my-2 p-3 rounded-sm bg-mybg w-full" type="password" name="confirmPassword" id="confirmPassword"
                    placeholder="Confirm Password" required />
                <button id="submitBtn"
                    class="transition-all duration-100 ease hover:opacity-80 active:scale-95 py-3 px-4 bg-myaccent mt-4 rounded-sm uppercase text-black"
                    >reset password</button>
            </div>
        </form>
    </div>
    {{> developer}}
    <script type="text/javascript" src="/js/reset.js">
    </script>
    {{#if emailNotFound}}
    <script>
        window.addEventListener('load', () => {
            showAlertMsg('{{emailNotFound}}');
        })
    </script>
    {{/if}}
</body>

</html>