<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Prompt</title>
    {{> favicon}}
</head>

<body class="h-screen flex justify-center items-center bg-mybg">
    <div class="bg-mybgs1 p-6 w-11/12 md:w-7/12 lg:w-4/12 rounded-md md:left-auto">
        <div class="flex flex-col justify-between py-4 items-center">
            {{#if registered}}
            <p class="form-header-text text-myaccent text-3xl font-semibold tracking-wider">Hello, {{firstName}} {{lastName}}</p>
            <p class="text-myaccent text-md text-center my-3 px-2 tracking-wide">Congratulations, Your account has been successfully created. To continue, please click on the verification link we have sent to your registered email address.</p>
            <button class="hidden" id="btn-back">
                <span class="material-symbols-outlined text-myaccent">
                    arrow_back_ios
                </span>
            </button>
            {{/if}}

            {{#if registeredErr}}
            <p class="form-header-text text-myaccent text-3xl font-semibold tracking-wider">An Error Occured!</p>
            <p class="text-myaccent text-md text-center my-3 px-2 py-2 tracking-wide">
                We're sorry, but it seems that something went wrong. Please wait a few moments and try again. If the problem persists, please <a class="underline text-white font-semibold" href="/contact">contact</a> our support for assistance.
            </p>
            <a class="bg-myaccent px-3 py-2 rounded-md mt-3" href="/user/register">Back</a>
            {{/if}}

            {{#if emailSent}}
            <p class="form-header-text text-myaccent text-3xl font-semibold tracking-wider">An Error Occured!</p>
            <p class="text-myaccent text-md text-center my-3 px-2 py-2 tracking-wide">
                Unfortunately, we were unable to send the verification email at this time. Please check your internet connection and try again in a few moments.
                If the issue persists, please <a class="underline text-white font-semibold" href="/user/contact">contact</a> our support for assistance.
            </p>
            <a class="bg-myaccent px-3 py-2 rounded-md mt-3" href="/user/register">Back</a>
            {{/if}}

            {{#if emailVarified}}
                <p class="form-header-text text-myaccent text-3xl font-semibold tracking-wider">Email Verified Successfully</p>
            <p class="text-myaccent text-md text-center my-3 px-2 py-2 tracking-wide">
                Your email has been successfully verified. Please proceed to log in to continue.
            </p>
            <a class="bg-myaccent px-3 py-2 rounded-md mt-3" href="/user/login">Log in</a>
            {{/if}}
            {{!-- {{#if emailVarifiedFail}}
                <p class="form-header-text text-myaccent text-3xl font-semibold tracking-wider">An Error Occured! </p>
            <p class="text-myaccent text-md text-center my-3 px-2 py-2 tracking-wide">
                email not varified?.
            </p> 
            <a class="bg-myaccent px-3 py-2 rounded-md mt-3" href="/">Home</a>
            {{/if}}
            --}}
            {{#if alreadyVarified}}
                <p class="form-header-text text-myaccent text-3xl font-semibold tracking-wider">Your Email Is Already Varified!</p>
            <p class="text-myaccent text-md text-center my-3 px-2 py-2 tracking-wide">
                The email address you provided has already been verified. Please use a different email address or log in with your existing account
            </p>
            <a class="bg-myaccent px-3 py-2 rounded-md mt-3" href="/">Home</a>
            {{/if}}
            {{#if invalidToken}}
                <p class="form-header-text text-myaccent text-3xl font-semibold tracking-wider">Invalid or Expired Token!</p>
            <p class="text-myaccent text-md text-center my-3 px-2 py-2 tracking-wide">
                The token you provided is either invalid or has expired.
            </p>
            <a class="bg-myaccent px-3 py-2 rounded-md mt-3" href="/">Home</a>
            {{/if}}
            {{#if internalServerError}}
                <p class="form-header-text text-myaccent text-3xl font-semibold tracking-wider">Internal Server Error!</p>
                We're sorry, but there was an error with our server. Please try again later, if the problem persists <a class="underline font-semibold" href="/user/contact">contact</a> our support for assistance.
            <a class="bg-myaccent px-3 py-2 rounded-md mt-3" href="/">Home</a>
            {{/if}}
            {{#if EmailSentSuccess}}
                <p class="form-header-text text-myaccent text-3xl font-semibold tracking-wider">Password Reset Email Sent!</p>
            <p class="text-myaccent text-md text-center my-3 px-2 py-2 tracking-wide">
                An email has been sent to your registered email address with instructions on how to reset your password. Please check your inbox and follow the instructions provided.
            </p>
            <p class="text-myaccent text-md my-3 px-2 py-2 text-center tracking-wider opacity-70 ">you may close this window</p>
            {{/if}}
        </div>
    </div>
    {{> developer}}
    <script type="text/javascript" src="/js/register.js"></script>
    {{#if checkMail}}
        <script>
            window.addEventListener('load', () => {
                showAlertMsg('{{checkMail}}')
            })
        </script>
    {{/if}}
    {{#if crossUsername}}
        <script>
            window.addEventListener('load', () => {
                showAlertMsg('{{crossUsername}}')
            })
        </script>
    {{/if}}
</body>

</html>